.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.filter-section {
  margin: 20px;
}

.food-items-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}
